body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#home h2{
    color: #333;
    font-size: 50px;
}

label{
    display: block;
    margin-bottom: 5px;
}
#home{
    text-align: center;
    margin-top: 10%;
}
#home button{
    width: 200px;
    height: auto;
}

#home button:hover{
    background-color: #4ce5f3;
}

#newUser, #existingUser,#menubar,#topup,#showBalance,#travel,#historyDisplay{
    display: none;
}

#menubar button{
    padding: 10px 20px;
    background-color: #32f7f7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#menubar button:hover
{
    background-color: #b0eded;
}

input[type="text"], input[type="email"], input[type="password"],input[type="number"],input[type="date"]{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid #ccc;
    margin-left: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}
#newUser button,#existingUser button{
    margin-left: 35%;
}
button[type="submit"], button[type="button"], input[type="button"]{
    padding: 10px 20px;
    background-color: #4ca7af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#travel button,#showBalance button,#topup button{
    background-color: white;
    padding: 10px 20px;
    color: black;
    border:#333;
    border-style: groove;
    border-radius: 4px;
    cursor: pointer;
}

#travel button:hover,#showBalance button:hover,#topup button:hover{
    background-color: wheat;
}

table,th,td{
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.1);
    background-color: #9ad4d5;
}

th,td{
    padding: 8px;
    text-align: left;
}

th{
    background-color: #f2f2f2;
}



table{
    width: 100%;
    border-collapse: collapse;
}

#newUser{
    
    border-style: ridge;
    width: 30%;
    border-width: 10px;
    border-color: #9ad5c3;
    margin-left: 550px;
    padding: 10px;
}
#existingUser{
    
    padding: 10px;
    border-style: ridge;
    width: 30%;
    border-width: 10px;
    border-color: #9ad5c3;
    margin-left: 550px;
}
#newUser button,#existingUser button{
    margin-left: 35%;
}
